.newExpenseContainer {
    width: 50vw;
    padding: 1rem;
    margin: auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    margin-top: 1rem;
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}